NEXT_PUBLIC_SUPABASE_URL=https://miuvgjjtrxlzdmeapfqj.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1pdXZnamp0cnhsemRtZWFwZnFqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI1NzE0MTksImV4cCI6MjA5ODE0NzQxOX0.UH9bM6L7w8thSadUbWbUtB5YuGNjgdao81yyt_TNvWo
